.bg {
  --o: 1;
  --img: url('https://files.dshuais.com/images/wallpaper/0.png');

  background: var(--img) center center/cover;
}

.gray {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, .3) 166%);
  transition: 1.5s;
}
